.main {
  max-width: 1280px;
  min-height: 100vh;
  /*100% view heith | altura visualizada*/
  padding: 16px;
  background-color: #efefef;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titulo {
  font-family: Arial, sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #595959;
}

.button_card {
  max-width: 100px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #CECECE;
  color: #1796d0;
  border-radius: 5px;
  cursor: pointer;
}